/* Mobile screen */
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/* Desktop screen */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}
